<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/bd1cbe0f7e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/stylesheets/index.css}" href="../stylesheets/index.css">
    <link rel="stylesheet" th:href="@{/stylesheets/planets.css}" href="../stylesheets/planets.css">
    <title>Planets</title>
</head>


<body>

<nav class="nav-list">

    <a href="#first"><i class="fa-solid fa-earth-americas"></i></a>
    <a href="#second"><i class="fa-solid fa-shuttle-space"></i></a>
    <a href="#third"><i class="fa-solid fa-ticket"></i></a>

</nav>

<div class="container">

    <section id="first">
        <h1><a href="#">Planets</a></h1>
    </section>

    <section id="second">
        <h1><a href="spaceships-page.html">Spaceships</a></h1>
    </section>

    <section id="third">
        <h1><a href="flight-booking-page.html"></i> Flight Booking</a></h1>
    </section>


    <div class="earth"></div>
    <div id="box"></div>

    <div class='post-it'>
        <h1>Earth</h1>


    </div>

</div>



</body>
</html>