<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/bd1cbe0f7e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/stylesheets/index.css}" href="../stylesheets/index.css">
    <title>Spaceships</title>
</head>
<body>

<nav class="nav-list">

    <a href="#first"><i class="fa-solid fa-earth-americas"></i></a>
    <a href="#second"><i class="fa-solid fa-shuttle-space"></i></a>
    <a href="#third"><i class="fa-solid fa-ticket"></i></a>

</nav>

<div class="container">

    <section id="first">
        <h1><a href="planets-page.html">Planets</a></h1>
    </section>

    <section id="second">
        <h1><a href="#">Spaceships</a></h1>
    </section>

    <section id="third">
        <h1><a href="flight-booking-page.html"></i> Flight Booking</a></h1>
    </section>
</div>

</body>
</html>